body {
    background-image: url('Train.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#main {
    position: fixed;
    background-color: #f0f8ff;
    min-width: 300px;
    min-height: 500px;
    width: 25%;
    height: 30%;
    margin-left: 50px;
    margin-top: 50px;
}

#heading {
    text-align: center;
    color: #244d77;
    font-size: 36px;
}

#counter_value{
    text-align: center;
    color: red;
    font-size: 50px;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#count-button{
    background-color: #244d77;
    color:#f0f8ff;
    font-size: larger;
    padding: 2%;
    min-height: 50px;
    max-width: 250px;
    margin-bottom: 10px;
    
}
#reset-button{
    background-color: #244d77;
    color:#f0f8ff;
    font-size: larger;
    padding: 2%;
    min-height: 50px;
    max-width: 250px;
    
}